.page-header__bg {
  @include media(ms, max) {
    height: 94px;
    background: url("../img/background-image-sm.jpg") no-repeat center center;
    background-size: cover;
  }

  @include media(sm) {
    height: 200px;
    background: url("../img/background-image-cropped.jpg") no-repeat center center;
    background-size: cover;
  }
}

.page-header__inner {
  height: 47px;

  @include media(sm) {
    height: 71px;
  }
}

.page-header__logo {
  position: absolute;
  transform: translateY(-50%);
  width: 94px;
  height: 94px;
  border-radius: 50%;

  @include media(sm) {
    width: 142px;
    height: 142px;
  }
}