header.page-header
    .page-header__bg
    .page-header__inner.container
        a(href="#").page-header__logo-link
            img(src="img/logo.png" srcset="img/logo@2x.png 2x, img/logo@3x.png 3x" alt="Company logo").page-header__logo



